<!-- 
* Created by Srvraj311 (Sourabh)
* sourabhraj311@gmail.com
* 
* This View containes 
1. Header
2. Container with Seat Display on one side and Booking User input on other side
-->

<div class="navbar navbar-light">
  <h3 class="navbar-brand px-4 text-white py-1">Problem 1 : Seat Allocation</h3>
  <p class="navbar-subtext text-white px-4">
    Create a seat allocation system, that assisgns nearest seats to passenger
  </p>
</div>
<div class="primary-container my-3">
  <app-seat></app-seat>
  <app-booking class="input-container"></app-booking>
</div>
